@import "tailwindcss";

@font-face {
  font-family: "Top Luxury";
  src: url("/fonts//TOPLUXURY.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: #e7e2ce;
  --color-purple: #7e3c94;
  --color-yellow: #c4a900;
  --color-gray: #606060;
  --font-top-luxury: "Top Luxury", sans-serif;
}

body {
  @apply font-top-luxury bg-background;
}

.perspective {
  perspective: 1200px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
}

.perspective:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

@keyframes shop-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-shop-marquee {
  animation: shop-marquee 40s linear infinite;
}

.animate-shop-marquee:hover {
  animation-play-state: paused;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

